.App {
    background-color: oklch(0.985 0 0);
    width: 100%;
    height: 100%;
}

#mainPageReportesContent {
    padding: 30px 60px 30px 60px;
}

.titulo {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
