button {
    background-color: #000000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 1px 1rem 0px #8f8e8e;
}

button:hover {
    background-color: #8f8e8e;
    box-shadow: none;
    border: white 1px solid;
}