button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    
}

.button-black {
    background-color: #111;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #e6dddd;
    box-shadow: none;
    border: white 1px solid;
}

button:focus {
    outline: none;
}