.lista-tabla {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee;
    font-family: 'Inter', Arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
}

.lista-tabla th, .lista-tabla td {
    padding: 1.1rem 1.2rem;
    text-align: left;
    font-size: 1.08rem;
    vertical-align: middle;
}

.lista-tabla th {
    color: #8a8a8a;
    font-weight: 600;
    background: #fafafa;
    border-bottom: 1px solid #eee;
}

.lista-tabla tr {
    border-bottom: 1px solid #f0f0f0;
}

.lista-tabla tr:last-child {
    border-bottom: none;
}

.lista-tabla td {
    background: #fff;
}

.lista-tabla .tipo-empleado {
    background: #e3edff;
    color: #377dff;
    font-weight: 600;
    border-radius: 16px;
    padding: 0.3em 1em;
    display: inline-block;
    font-size: 0.98rem;
}

.lista-tabla .tipo-inmueble {
    background: #e6f7ee;
    color: #2bb673;
    font-weight: 600;
    border-radius: 16px;
    padding: 0.3em 1em;
    display: inline-block;
    font-size: 0.98rem;
}

.lista-tabla .tipo-otro {
    background: #ededed;
    color: #888;
    font-weight: 600;
    border-radius: 16px;
    padding: 0.3em 1em;
    display: inline-block;
    font-size: 0.98rem;
}

.lista-tabla .balance-positivo {
    color: #2bb673;
    font-weight: 500;
}

.lista-tabla .balance-negativo {
    color: #e53935;
    font-weight: 500;
}

.lista-tabla .icono-caja {
    font-size: 1.3rem;
    margin-right: 0.7rem;
    vertical-align: middle;
}

.lista-tabla .icono-inmueble {
    font-size: 1.3rem;
    margin-right: 0.7rem;
    vertical-align: middle;
}

.lista-tabla .icono-otro {
    font-size: 1.3rem;
    margin-right: 0.7rem;
    vertical-align: middle;
}