html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  background-color: azure;
  width: 100%;
  height: 100%;
}

#mainPageInicio {
  padding: 30px 60px 30px 60px;
}

.titulo {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

#tituloTareasAsignadas {
    font-size: 20px;
    font-weight: 600;
}

#contenedorPrincipalTareasAsignadas {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#contenedorItemsTareasAsignadas {
    margin-top: 20px;
    display: flex;
}

