html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  background-color: azure;
  width: 100%;
  height: 100%;
}

#mainPageInicio {
  padding: 30px 60px 30px 60px;
}

.titulo {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

