.App {
    background-color: oklch(0.985 0 0);
    width: 100%;
    height: 100%;
}

#mainPageFinanzasContent {
    padding: 30px 70px 30px 70px;
}

#mainPageFinanzasContent p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

#modalFinanzas {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 30px 40px 30px 40px;
}

#topBarModalFinanzas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #fff;
}

#parteIzquierda {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
}

#parteDerecha {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#cajasEncontradasEnFiltros {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 20px 0;
    color: oklch(77.335% 0.0091 16.823);
}

#botonRealizarTransferencia {
    background-color: black;
    color: white;
}
