.toggle-active {
    background: #fff;
    color: #222;
    font-weight: 600;
    border: 1px solid #e3e3e3;
    border-radius: 8px 0 0 8px;
    box-shadow: none;
}

.toggle-inactive {
    background: #f5f5f5;
    color: #888;
    font-weight: 500;
    border: 1px solid #e3e3e3;
    border-radius: 0 8px 8px 0;
    box-shadow: none;
}

#contenedorBotonesModalRegistrarIngresoEgresoCaja {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#botonRegistrarTransaccion{
    background-color: black;
    color: white;
}

#datosTransaccion {
    margin-bottom: 2px;
}

#contenedorBotonesAccionModalRegistrarIngresoEgresoCaja {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 1rem;
}